$base-bg-color: rgb(241, 245, 247);
$font-lg: 22px;
$text-base-color: #000000;

$primary-color: #F8BD1C;
$line: #aaa;
$form-color: #F4F4F4;
$avatar-size: 40px;
$header-padding-y: 16px;
$back-icon-size: 16px;