@import './variables';

input, select {
  &.text {
    width: 100%;
    margin: 8px 0px;
    padding: 16px 24px;
    border: none;
    background: $form-color;
    border-radius: 10px;
  }
}

label {
  font-size: 18px;
}

textarea {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  min-height: 220px;
  resize: vertical;
  border: none;
  background: $form-color;
  border-radius: 10px;
}

.field{
  margin: 20px 0 20px;
}